In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"feature_col1":np.random.randint(4, size=100)
                   , "feature_col2":np.random.randint(6, size=100)
                   , "feature_col3":np.random.randint(2, size=100)
                   , "feature_col4":np.random.randint(5, size=100)
                   , "feature_col5":np.random.randint(10, size=100)
                   , "target_col":np.random.randint(2, size=100)
                  }).astype("object")

In [3]:
df.head()

  feature_col1 feature_col2 feature_col3 feature_col4 feature_col5 target_col
0            0            0            0            0            2          1
1            0            5            1            3            2          0
2            1            0            0            4            8          0
3            2            0            1            3            8          0
4            3            3            0            3            5          0

In [4]:
features = [col for col in df.columns if col != "target_col"]

In [5]:
features

['feature_col1',
 'feature_col2',
 'feature_col3',
 'feature_col4',
 'feature_col5']

In [6]:
pd.crosstab(df["feature_col1"], df["feature_col2"])

feature_col2  0  1  2  3  4  5
feature_col1
0             4  2  4  2  8  7
1             4  4  5  5  6  5
2             4  3  4  3  0  5
3             1  3  8  6  3  4

In [7]:
list_feature_comb = []
for feature1 in features:
    for feature2 in features:
        if feature1 == feature2:
            continue
        else:
            if ([feature1, feature2] in list_feature_comb) or ([feature2, feature1] in list_feature_comb):
                continue
            else:
                list_feature_comb.append([feature1, feature2])
                pd.crosstab(df[feature1], df[feature2])\
                    .reset_index()\
                    .rename(columns={feature1:"{}/{}".format(feature1, feature2)})\
                    .to_csv("crossfreq_{}_{}.csv".format(feature1, feature2), encoding="utf-8", index=False)

In [8]:
import itertools
itertools.combinations(features, 2)

In [9]:
for element in itertools.combinations(features, 2):
    print(element)

('feature_col1', 'feature_col2')
('feature_col1', 'feature_col3')
('feature_col1', 'feature_col4')
('feature_col1', 'feature_col5')
('feature_col2', 'feature_col3')
('feature_col2', 'feature_col4')
('feature_col2', 'feature_col5')
('feature_col3', 'feature_col4')
('feature_col3', 'feature_col5')
('feature_col4', 'feature_col5')

In [10]:
[list(tpl) for tpl in itertools.combinations(features, 2)]

[['feature_col1', 'feature_col2'],
 ['feature_col1', 'feature_col3'],
 ['feature_col1', 'feature_col4'],
 ['feature_col1', 'feature_col5'],
 ['feature_col2', 'feature_col3'],
 ['feature_col2', 'feature_col4'],
 ['feature_col2', 'feature_col5'],
 ['feature_col3', 'feature_col4'],
 ['feature_col3', 'feature_col5'],
 ['feature_col4', 'feature_col5']]

In [11]:
combinations = [list(tpl) for tpl in itertools.combinations(features, 2)]
for list_feature_comb in combinations:
    feature1 = list_feature_comb[0]
    feature2 = list_feature_comb[1]
    pd.crosstab(df[feature1], df[feature2])\
        .reset_index()\
        .rename(columns={feature1:"{}/{}".format(feature1, feature2)})\
        .to_csv("crossfreq_{}_{}.csv".format(feature1, feature2)
                , encoding="utf-8", index=False)